
@{
    ViewData["Title"] = "Index";
}

<h2>Office 365 Group Policy</h2>

<div>Want to see policy information? Dive in and submit a <a href="https://github.com/microsoftgraph/msgraph-community-samples/blob/master/CONTRIBUTING.md">pull request</a>.</div>

<p>Sharing is caring</p>

